<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Интернет-магазин Markom</title>
  <link rel="icon" href="{{ url_for('static', filename='images/markom.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='reg.css') }}">
</head>
<body>
  <div class="register-container">
    <form class="register-box" method="POST" action="/reg">
      <h2>Регистрация</h2>

      <input type="text" name="name" placeholder="Имя" value="{{ values.get('name', '') }}" >
      {% if errors.get('name') %}
        <div class="error">{{ errors['name'] }}</div>
      {% endif %}

      <input type="text" name="email" placeholder="Электронная почта" value="{{ values.get('email', '') }}" >
      {% if errors.get('email') %}
        <div class="error">{{ errors['email'] }}</div>
      {% endif %}

      <input type="text" name="login" placeholder="Логин" value="{{ values.get('login', '') }}" >
      {% if errors.get('login') %}
        <div class="error">{{ errors['login'] }}</div>
      {% endif %}

      <input type="password" name="password" placeholder="Пароль" >
      {% if errors.get('password') %}
        <div class="error">{{ errors['password'] }}</div>
      {% endif %}

      <input type="password" name="confirm_password" placeholder="Подтвердите пароль" >
      {% if errors.get('confirm_password') %}
        <div class="error">{{ errors['confirm_password'] }}</div>
      {% endif %}


      <button type="submit" class="register-btn">Зарегистрироваться</button>
    </form>
  </div>



</body>
</html>
