<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Интернет-магазин Markom</title>

  <link rel="icon" href="{{ url_for('static', filename='images/markom.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="/static/store.css">
  <link rel="stylesheet" href="/static/notifications.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <header class="site-header">

  <div class="header-left">
    <a href="{{ url_for('store') }}">
      <img src="{{ url_for('static', filename='images/markom_logo.svg') }}" alt="Логотип" class="logo">
    </a>

    <a href="#" class="catalog-button" id="catalog-toggle">
      <i class="fas fa-bars" id="catalog-icon"></i>
      <span class="catalog-text">Каталог</span>
    </a>

    <div class="search">
  <form method="GET" action="{{ url_for('search') }}" class="search-form">
    <input type="text" name="q" placeholder="Поиск..." class="search-input">
    <button type="submit" class="search-button" aria-label="Поиск">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>


  </div>

  <div class="header-right">

    <a href="{{ url_for('cart') }}" class="cart-icon" title="Корзина">
      <div class="cart-icon-btn">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </a>

     {% if session.get('user_id') %}
    <form action="{{ url_for('logout') }}" method="post" class="logout-icon">
      <button type="submit" class="logout-icon-btn" title="Выйти">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </form>
  {% else %}
    <a href="{{ url_for('login') }}" class="login-icon" title="Войти">
  <div class="login-icon-btn">
    <i class="fas fa-user"></i>
  </div>
  <div class="login-icon-text">
    <span>Войти</span>
  </div>
</a>

  {% endif %}

  </div>

  </header>

<div class="catalog-modal" id="catalog-menu" style="display: none;">

  <div class="catalog-item">
    <a href="{{ url_for('vegetables') }}">
      <img src="{{ url_for('static', filename='images/авокадо.jpg') }}" alt="Фрукты и овощи">
      <h4 class="catalog-title">Овощи, фрукты, ягоды</h4>
    </a>
    <ul>
      <li><a href="{{ url_for('vegetables') }}#fruits">Фрукты и ягоды</a></li>
      <li><a href="{{ url_for('vegetables') }}#vegetables">Овощи</a></li>
      <li><a href="{{ url_for('vegetables') }}#greenery">Зелень</a></li>
    </ul>
  </div>

  <div class="catalog-item">
    <a href="{{ url_for('meat') }}">
      <img src="{{ url_for('static', filename='images/филе_куринное.jpg') }}" alt="Мясо">
      <h4 class="catalog-title">Птица, мясо</h4>
    </a>
    <ul>
      <li><a href="{{ url_for('meat') }}#poultry">Птица</a></li>
      <li><a href="{{ url_for('meat') }}#beef">Говядина</a></li>
      <li><a href="{{ url_for('meat') }}#pork">Свинина</a></li>
    </ul>
  </div>

  <div class="catalog-item">
    <a href="{{ url_for('drinks') }}">
      <img src="{{ url_for('static', filename='images/сок_апельсин.jpg') }}" alt="Соки">
      <h4 class="catalog-title">Вода, соки</h4>
    </a>
  </div>

  <div class="catalog-item">
    <a href="{{ url_for('nuts') }}">
      <img src="{{ url_for('static', filename='images/фундук_очищенный.jpg') }}" alt="Орехи">
      <h4 class="catalog-title">Орехи</h4>
    </a>
  </div>

</div>




  <main class="products">

  <h2 id="vegetables" class="page_subtitle">Овощи</h2>
  <div class="product-grid">
    {% for vegetable in vegetables %}
    <div class="product">
      <img src="{{ vegetable.image_url }}" alt="{{ vegetable.name }}">
      <p>{{ vegetable.name|capitalize }}, 1 кг</p>
      <button onclick="openModal('{{ vegetable.id }}', '{{ vegetable.name|capitalize }}', this)">
        Купить <i class="fa-solid fa-cart-shopping"></i>
      </button>

    </div>
    {% endfor %}
  </div>


    <h2 id="fruits" class="page_subtitle">Фрукты и ягоды</h2>
  <div class="product-grid">
    {% for fruit in fruits %}
    <div class="product">
      <img src="{{ fruit.image_url }}" alt="{{ fruit.name }}">
      <p>{{ fruit.name|capitalize }}, 1 кг</p>
      <button onclick="openModal('{{ fruit.id }}', '{{ fruit.name|capitalize }}', this)">
        Купить <i class="fa-solid fa-cart-shopping"></i>
      </button>

    </div>
    {% endfor %}
  </div>


<h2 id="greenery" class="page_subtitle">Зелень</h2>
  <div class="product-grid">
    {% for greenery in greenery %}
    <div class="product">
      <img src="{{ greenery.image_url }}" alt="{{ greenery.name }}">
      <p>{{ greenery.name|capitalize }}, 1 кг</p>
      <button onclick="openModal('{{ greenery.id }}', '{{ greenery.name|capitalize }}', this)">
        Купить <i class="fa-solid fa-cart-shopping"></i>
      </button>

    </div>
    {% endfor %}
  </div>

</main>









  <div id="modal" class="modal relative-modal">
  <div class="modal-content">
    <h2 id="modal-title">Введите кол-во товара</h2>
    <form id="cart-form">
      <input type="number" name="quantity" min="1" value="1" placeholder="Количество" required>
      <input type="hidden" name="product_id" id="modal-product-id">
      <div class="modal-buttons">
        <button type="submit" class="add-button">Добавить</button>
        <button type="button" class="cancel-button" onclick="closeModal()">Отмена</button>
      </div>
    </form>
  </div>
</div>




<footer>

  <div class="layout__content">

                    <div class="page_subtitle">
                        <div class="benefit-list__title heading">Наши плюсы</div>
                    </div>

                    <div class="benefit-list grid-list" data-blocks-size="3">

                        <div data-block-id="12949906" class="benefit-list__item editable-block">

                            <div class="img-ratio img-fit benefit-list__item-image">
                                <div class="img-ratio__inner">

                                    <img src="https://static.insales-cdn.com/files/1/3619/14863907/original/plus__1__e21acc6b89a08c337af6fa920e1fe42b.svg" title="Широкий ассортимент" alt="Широкий ассортимент">

                                </div>
                            </div>

                            <div class="benefit-list__item-title">
                                Широкий ассортимент
                            </div>
                            <div class="benefit-list__item-description">
                                <p>Мы закупаем фрукты и овощи по всему миру – от Эквадора до Китая. Более 400 сортов овощей и фруктов представлены на наших прилавках.</p>
                            </div>
                        </div>

                        <div data-block-id="12949907" class="benefit-list__item editable-block">

                            <div class="img-ratio img-fit benefit-list__item-image">
                                <div class="img-ratio__inner">

                                    <img src="https://static.insales-cdn.com/files/1/3618/14863906/original/plus__2__cd0e61cab5af76850cc3a312d39f9f20.svg" title="Всегда свежие" alt="Всегда свежие">

                                </div>
                            </div>

                            <div class="benefit-list__item-title">
                                Всегда свежие
                            </div>
                            <div class="benefit-list__item-description">
                                <p>Фрукты и овощи перевозятся в машинах-рефрижераторах с разными режимами температуры. Мы знаем, сколько градусов внутри каждого плода!</p>
                            </div>
                        </div>

                        <div data-block-id="12949908" class="benefit-list__item editable-block">

                            <div class="img-ratio img-fit benefit-list__item-image">
                                <div class="img-ratio__inner">

                                    <img src="https://static.insales-cdn.com/files/1/3617/14863905/original/plus__3_.svg" title="Контроль качества" alt="Контроль качества">

                                </div>
                            </div>

                            <div class="benefit-list__item-title">
                                Контроль качества
                            </div>
                            <div class="benefit-list__item-description">
                                <p>Мы контролируем качество – от поставщика до полки. Для хранения мы используем самое современное оборудование.</p>
                            </div>
                        </div>

                    </div>


                </div>




  <div class="layout__content">

                    <div class="brands banner-list">
                        <div class="brands__head">
                            <div class="page_subtitle">
                                <div class="brands__title heading">

                                    Бренды

                                </div>
                            </div>
                            <div class="brands__slider-controls">
                                <div class="banner-list__arrow banner-list__arrow-prev js-move-slide is-disabled">
                                    <span class="banner-list__arrow-icon icon-arrow-left"></span>
                                </div>
                                <div class="banner-list__arrow banner-list__arrow-next js-move-slide">
                                    <span class="banner-list__arrow-icon icon-arrow-right"></span>
                                </div>
                            </div>
                        </div>
                        <div class="splide js-banner-list-slider splide--slide splide--ltr splide--draggable is-active" data-slide-min-width="200" data-slide-gap="30" data-slide-min-width-mobile="150" id="splide01" style="visibility: visible;">
                            <div class="splide__track" id="splide01-track">
                                <div class="splide__list" id="splide01-list" style="transform: translateX(0px);">


                                    <div class="splide__slide is-active is-visible" id="splide01-slide01" style="margin-right: 30px; width: 212.667px;" aria-hidden="false" tabindex="0">

                                        <div class="brands__item">
                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/GjVrX9i3Euk/rs:fit:500:0:1/q:100/plain/files/1/4361/14930185/original/Component.png@webp" type="image/webp" class="lazyload entered" data-ll-status="entered" srcset="https://static.insales-cdn.com/r/GjVrX9i3Euk/rs:fit:500:0:1/q:100/plain/files/1/4361/14930185/original/Component.png@webp">
                                                        <img data-src="https://static.insales-cdn.com/r/GaPliFcpHVc/rs:fill-down:220:221:1/q:100/plain/files/1/4361/14930185/original/Component.png@png" class="lazyload entered loaded" alt="" data-ll-status="loaded" src="https://static.insales-cdn.com/r/GaPliFcpHVc/rs:fill-down:220:221:1/q:100/plain/files/1/4361/14930185/original/Component.png@png">
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="splide__slide is-visible" id="splide01-slide02" style="margin-right: 30px; width: 212.667px;" aria-hidden="false" tabindex="0">
                                        <div class="brands__item">
                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/Kti48M4h9TI/rs:fit:500:0:1/q:100/plain/files/1/4362/14930186/original/Component-8.png@webp" type="image/webp" class="lazyload entered" data-ll-status="entered" srcset="https://static.insales-cdn.com/r/Kti48M4h9TI/rs:fit:500:0:1/q:100/plain/files/1/4362/14930186/original/Component-8.png@webp">
                                                        <img data-src="https://static.insales-cdn.com/r/05ZDGW_4dGc/rs:fill-down:220:221:1/q:100/plain/files/1/4362/14930186/original/Component-8.png@png" class="lazyload entered loaded" alt="" data-ll-status="loaded" src="https://static.insales-cdn.com/r/05ZDGW_4dGc/rs:fill-down:220:221:1/q:100/plain/files/1/4362/14930186/original/Component-8.png@png">
                                                    </picture>
                                                </div>
                                            </div>

                                        </div>

                                    </div>



                                    <div class="splide__slide is-visible" id="splide01-slide03" style="margin-right: 30px; width: 212.667px;" aria-hidden="false" tabindex="0">

                                        <div class="brands__item">


                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/Q7p51E94eOU/rs:fit:500:0:1/q:100/plain/files/1/4363/14930187/original/Component-2.png@webp" type="image/webp" class="lazyload entered" data-ll-status="entered" srcset="https://static.insales-cdn.com/r/Q7p51E94eOU/rs:fit:500:0:1/q:100/plain/files/1/4363/14930187/original/Component-2.png@webp">
                                                        <img data-src="https://static.insales-cdn.com/r/O0rfUAcS9pw/rs:fill-down:220:221:1/q:100/plain/files/1/4363/14930187/original/Component-2.png@png" class="lazyload entered loaded" alt="" data-ll-status="loaded" src="https://static.insales-cdn.com/r/O0rfUAcS9pw/rs:fill-down:220:221:1/q:100/plain/files/1/4363/14930187/original/Component-2.png@png">
                                                    </picture>
                                                </div>
                                            </div>

                                        </div>

                                    </div>



                                    <div class="splide__slide" id="splide01-slide04" style="margin-right: 30px; width: 212.667px;" aria-hidden="true" tabindex="-1">

                                        <div class="brands__item">

                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/688eD6A--Jc/rs:fit:500:0:1/q:100/plain/files/1/4365/14930189/original/Component-3.png@webp" type="image/webp" class="lazyload entered exited" data-ll-status="entered" srcset="https://static.insales-cdn.com/r/688eD6A--Jc/rs:fit:500:0:1/q:100/plain/files/1/4365/14930189/original/Component-3.png@webp">
                                                        <img data-src="https://static.insales-cdn.com/r/WsyMhVUaijo/rs:fill-down:220:221:1/q:100/plain/files/1/4365/14930189/original/Component-3.png@png" class="lazyload entered loaded" alt="" data-ll-status="loaded" src="https://static.insales-cdn.com/r/WsyMhVUaijo/rs:fill-down:220:221:1/q:100/plain/files/1/4365/14930189/original/Component-3.png@png">
                                                    </picture>
                                                </div>
                                            </div>

                                        </div>

                                    </div>



                                    <div class="splide__slide" id="splide01-slide05" style="margin-right: 30px; width: 212.667px;" aria-hidden="true" tabindex="-1">

                                        <div class="brands__item">

                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/Wi09msvbuw4/rs:fit:500:0:1/q:100/plain/files/1/4366/14930190/original/Component-4.png@webp" type="image/webp" class="lazyload entered exited" data-ll-status="entered" srcset="https://static.insales-cdn.com/r/Wi09msvbuw4/rs:fit:500:0:1/q:100/plain/files/1/4366/14930190/original/Component-4.png@webp">
                                                        <img data-src="https://static.insales-cdn.com/r/ybP-0N2ioQE/rs:fill-down:220:221:1/q:100/plain/files/1/4366/14930190/original/Component-4.png@png" class="lazyload entered loaded" alt="" data-ll-status="loaded" src="https://static.insales-cdn.com/r/ybP-0N2ioQE/rs:fill-down:220:221:1/q:100/plain/files/1/4366/14930190/original/Component-4.png@png">
                                                    </picture>
                                                </div>
                                            </div>

                                        </div>

                                    </div>



                                    <div class="splide__slide" id="splide01-slide06" style="margin-right: 30px; width: 212.667px;" aria-hidden="true" tabindex="-1">

                                        <div class="brands__item">


                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/INAJzPOvXHA/rs:fit:500:0:1/q:100/plain/files/1/4360/14930184/original/Component-5.png@webp" type="image/webp" class="lazyload entered exited" data-ll-status="entered" srcset="https://static.insales-cdn.com/r/INAJzPOvXHA/rs:fit:500:0:1/q:100/plain/files/1/4360/14930184/original/Component-5.png@webp">
                                                        <img data-src="https://static.insales-cdn.com/r/THRPV7h3Sps/rs:fill-down:220:221:1/q:100/plain/files/1/4360/14930184/original/Component-5.png@png" class="lazyload entered loaded" alt="" data-ll-status="loaded" src="https://static.insales-cdn.com/r/THRPV7h3Sps/rs:fill-down:220:221:1/q:100/plain/files/1/4360/14930184/original/Component-5.png@png">
                                                    </picture>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="splide__slide" id="splide01-slide07" style="margin-right: 30px; width: 212.667px;" aria-hidden="true" tabindex="-1">

                                        <div class="brands__item">


                                            <div class="img-ratio img-fit">
                                                <div class="img-ratio__inner">
                                                    <picture>
                                                        <source media="(max-width:480px)" data-srcset="https://static.insales-cdn.com/r/ZWAsfBiU8yA/rs:fit:500:0:1/q:100/plain/files/1/4357/14930181/original/Component-10.png@webp" type="image/webp" class="lazyload">
                                                        <img data-src="https://static.insales-cdn.com/r/bZAOGPpLQSI/rs:fill-down:220:221:1/q:100/plain/files/1/4357/14930181/original/Component-10.png@png" class="lazyload" alt="">
                                                    </picture>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="swiper-pagination js-banner-list-slider-pagination"></div>
                        </div>
                    </div>


                </div>







  <section id="feedback" class="feedback-section">
    <h2 class="feedback-title">Обратная связь</h2>
    <form id="feedback-form" class="feedback-form" method="POST" action="/vegetables">


  <input type="text" name="name" placeholder="Имя*" value="{{ values.get('name', '') }}">
  {% if errors.get('name') %}<div class="error">{{ errors['name'] }}</div>{% endif %}

  <input type="number" name="phone" placeholder="Телефон" class="feedback-phone" value="{{ values.get('phone', '') }}">
  {% if errors.get('phone') %}<div class="error">{{ errors['phone'] }}</div>{% endif %}

  <input type="text" name="email" placeholder="Почта*" value="{{ values.get('email', '') }}">
  {% if errors.get('email') %}<div class="error">{{ errors['email'] }}</div>{% endif %}

  <textarea name="comment" placeholder="Комментарий">{{ values.get('comment', '') }}</textarea>
  {% if errors.get('comment') %}<div class="error">{{ errors['comment'] }}</div>{% endif %}

  <div class="feedback-checkbox">
    <input type="checkbox" name="agreement" id="agreement" {% if values.get('agreement') %}checked{% endif %}>
    <label for="agreement">
        Настоящим подтверждаю, что я ознакомлен и согласен с условиями оферты и политики конфиденциальности*
    </label>
  </div>
  {% if errors.get('agreement') %}<div class="error">{{ errors['agreement'] }}</div>{% endif %}

  <button type="submit" class="submit-button">Отправить</button>
</form>


</section>

</footer>

  <!-- ПРОЛИСТЫВАНИЕ СТРАНИЦЫ -->
<script>
    window.addEventListener('DOMContentLoaded', () => {
    const scrollToForm = "{{ scroll_to_form|default(False) }}";
    if (scrollToForm === "True") {
      const formSection = document.getElementById("feedback-form");
      if (formSection) {
        formSection.scrollIntoView({ behavior: "auto" });
      }
    }
  });
</script>
<script src="{{ url_for('static', filename='js/store.js') }}"></script>
<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>

</body>

{% if session.get('notification') %}
<div class="notification">
  {{ session.pop('notification') }}
</div>
<script>
  showNotification();
</script>
{% endif %}

</html>
